body {
    background-color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
}

#iframe {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: #000;


}